<div class="div-content">
  <div class="container">
    <div class="page">
      <div class="row">
        <div class="col-md-12">
          <div class="slider">
            <ul class="slides">
              <li><a href="#"><%= image_tag "test.jpg" %></a></li>
              <li><a href="#"><%= image_tag "test.jpg" %></a></li>
              <li><a href="#"><%= image_tag "test.jpg" %></a></li>
            </ul>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="carousel slide multi-item-carousel" id="theCarousel">
                <div class="carousel-inner">
                  <div class="item active">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/f44336/000000" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/e91e63/000000" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/9c27b0/000000" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/673ab7/000000" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/4caf50/000000" class="img-responsive"></a></div>
                  </div>
                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
                  </div>
                  <!-- add  more items here -->
                  <!-- Example item start:  -->

                  <div class="item">
                    <div class="col-xs-4"><a href="#1"><img src="http://placehold.it/300/8bc34a/000000" class="img-responsive"></a></div>
                  </div>

                  <!--  Example item end -->
                </div>
                <a class="left carousel-control" href="#theCarousel" data-slide="prev"><i class="glyphicon glyphicon-chevron-left"></i></a>
                <a class="right carousel-control" href="#theCarousel" data-slide="next"><i class="glyphicon glyphicon-chevron-right"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="row">
            <div class="col-sm-6 col-md-12">
              <div class="latest-movie">
                <a href="#"><%= image_tag "test.jpg" %></a>
              </div>
            </div>
            <div class="col-sm-6 col-md-12">
              <div class="latest-movie">
                <a href="#"><%= image_tag "test.jpg" %></a>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- .row -->
      <div class="row">
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a href="#"><%= image_tag "test.jpg" %></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a href="#"><%= image_tag "test.jpg" %></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a href="#"><%= image_tag "test.jpg" %></a>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="latest-movie">
            <a href="#"><%= image_tag "test.jpg" %></a>
          </div>
        </div>
      </div> <!-- .row -->

      <div class="row">
        <div class="col-md-4">
          <h2 class="section-title">December premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
          <h2 class="section-title">November premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul> <!-- .movie-schedule -->
        </div>
        <div class="col-md-4">
          <h2 class="section-title">October premiere</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore.</p>
          <ul class="movie-schedule">
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
            <li>
              <div class="date">16/12</div>
              <h2 class="entry-title"><a href="#">Perspiciatis unde omnis</a></h2>
            </li>
          </ul> <!-- .movie-schedule -->
        </div>
      </div>
    </div>
  </div> <!-- .container -->
</div>
